[2014-09-24 13:15] dmikusa opened #13 "Grails Services - Manual Configuration instructions incorrect"
The instructions for manually configuring a service with Grails are incorrect.  Running them with Grails 2.4.3 results in the following error.

[code]

There are a couple problems with the instructions.
1. You need to add the following to grails-app/conf/spring/resources.groovy

[code]

This is necessary to disable auto configuration, because spring-cloud looks for the presence of certain bean typ

[2014-10-01 19:21] #13 closed, assigned to nobody

[2015-01-27 14:07] gberche-orange opened #16 "documented /bin/package extension is unused/deprecated"
The current doc at https://github.com/cloudfoundry/docs-buildpacks/blob/3c4455d4aa34d9410956bd2e0689a8abd7f98ee3/custom.html.md.erb#L96-L115 describes the `/bin/package` CF extension

However:
- the ruby buildpack example does not support the `/bin/package` command anymore, it has been replaced by the usage of the https://github.com/cf-buildpacks/buildpack-packager , see https://github.com/cloudfo

[2015-01-27 15:00] jchesterpivotal commented on #16
Hi @gberche-orange.

We in the CF Buildpacks team updated the packaging mechanism late last year, but we failed to update the documentation, which has led to equivalent reports on the [ruby](https://github.com/cloudfoundry/ruby-buildpack/issues/29), [nodejs](https://github.com/cloudfoundry/nodejs-buildpack/issues) and [python](https://github.com/cloudfoundry/python-buildpack/issues/11) buildpacks.

[2015-01-27 15:02] gberche-orange commented on #16
Thanks @jchesterpivotal for your response, and sorry for the extra noise as you planned on working on docs today.

[2015-01-27 15:05] jchesterpivotal commented on #16
Not at all. We take it as a very promising sign that the community is keen to help us correct oversights.

[2015-01-27 15:12] jchesterpivotal commented on #16
FYI, the Tracker story above was assigned to the Docs team. We have [a matching story](https://www.pivotaltracker.com/story/show/86947488) in our own Tracker.

[2015-01-29 22:16] elenasharma commented on #16
Closed with https://github.com/cloudfoundry/docs-buildpacks/pull/18.

[2015-01-29 22:16] #16 closed

[2015-01-30 08:14] gberche-orange commented on #16
thanks!

[2016-02-05 16:44] tonycapone opened #45 "Update docs for CF Gradle plugin"
Hello. While using the Gradle CF plugin, I noticed the [documentation](https://github.com/cloudfoundry/docs-buildpacks/blob/master/java/build-tool-int.html.md.erb) needs updated to include all the available tasks and configs. I almost didn't use it because it seemed to be missing some key features (mainly around mapping routes), but fortunately I discovered the additional tasks after adding the pl

[2016-02-17 15:47] mastertinner opened #47 "Broken link"
`docs-dev-guide/deploy-apps/environment-variable.html.md.erb` doesn't have an anchor called `#dea-set`. That's why Bookinder reports a broken link for `docs-buildpacks/node/node-tips.html.md.erb`.

[2016-02-17 23:37] abbyachau commented on #47
Thanks @mastertinner. We've edited the docs-buildpacks/node/node-tips.html.md.erb page so that it includes a new anchor reference.

[2016-02-18 07:16] mastertinner commented on #47
Thanks for the quick fix, @abbyachau!

[2016-02-18 07:16] #47 closed

[2016-03-01 22:44] lyanco opened #48 "Create a Rake Task should be more descriptive"
https://github.com/cloudfoundry/docs-buildpacks/blob/615f5b4a68ca5071330e91608f29cba3a05e049e/ruby/ruby-tips.html.md.erb#L89

"Create a rake task" should link to external documentation for how to do this. Not obvious that cf:on_first_instance is not just boilerplate.

[2016-03-02 16:14] jvshahid commented on #48
The following steps explains how to create the rake task and how to use it in the app manifest. What am I missing ?

[2016-03-02 16:17] flavorjones commented on #48
I'm also confused. @lyanco can you help us understand what you think needs to be changed?

[2016-03-02 17:16] lyanco commented on #48
From a newb's perspective, it would be nice to have the file/folder structure that the rake task belongs in. Where do you create it? What should the file be called?

As a general note, might be nice to include file/folder structure for every code snippet, like the Michael Hartl Rails tutorial does (see the box title at https://www.railstutorial.org/book/rails_flavored_ruby#code-application_layout_

[2016-03-03 19:36] mamorrison commented on #45
Hi Tony-- many thanks for the head-up on Gradle CF plugin docs. Feel free to do a pull request to fix this yourself.  Otherwise, we on the CF docs team have some questions we'd like to ask you about this issue to point us toward the fixes it needs. What would be the best way to get in touch?  Thanks again!

[2016-03-26 01:36] addisonhuddy opened #50 "Python 3.5.1 not found"
I'm pushing a bottle app to PWS but I'm running to an issue.

Inside `runtime.txt` I've specified `python-3.5.1` and it looks like the buildpack picks that up, but CF can't find 3.5.1.  Is this not yet a supported version on PWS?
[code]

[2016-03-26 15:23] davidjahn commented on #50
Hi @addisonhuddy, 3.5.1 [should be supported](https://github.com/cloudfoundry/python-buildpack/releases) by the latest buildpack.

I just tried to `cf push` a [sample flask app](https://github.com/cloudfoundry/python-buildpack/tree/master/cf_spec/fixtures/flask_web_app_python_3) on PWS with the `runtime.txt` modified to contain `python-3.5.1` and it worked. If you could give a sample app that repl

[2016-04-01 01:07] tonycapone commented on #45
Sorry I was busy this month with a wedding and didn't see this. I can put together a pull request in the next few days.

[2016-04-11 16:26] Dannyzen commented on #50
@addisonhuddy is this still an issue? The Buildpacks team is happy to help. If so please open a new issue under https://github.com/cloudfoundry/python-buildpack/issues

[2016-04-11 17:59] addisonhuddy commented on #50
I still haven't been able to get it to work, but I suspect it is my app. Closing the issue.

[2016-04-11 17:59] #50 closed

[2016-05-27 00:21] bentarnoff commented on #48
Thanks, @lyanco. We've added an extra step to clarify that developers must create a Rakefile if they do not already have one in order to add Rake tasks. We're closing this issue but please let us know if you have any additional feedback.

[2016-05-27 00:21] #48 closed

[2016-06-01 19:30] bentarnoff commented on #45
Hey @tonycapone, we wanted to check in on this. We'd be grateful for that pull request! Thanks.

[2016-07-05 18:17] dkowis opened #76 "Insufficient details about play service bindings"
https://github.com/cloudfoundry/docs-buildpacks/blob/master/java/play-service-bindings.html.md.erb

Does this work with play 2.x ?

Is this documentation correct:
https://www.playframework.com/documentation/2.5.x/Deploying-CloudFoundry#Connecting-to-Cloud-Foundry-Services

I'm finding that it doesn't seem to be correct with a play 2.5.x application. I don't have the `cloud.services` properties ava

[2016-07-08 06:01] ljubisap opened #79 "Additional configuration section in cloudFoundry does not work."
Hi,

In this page https://docs.run.pivotal.io/buildpacks/java/build-tool-int.html in "Additional Configuration" section is explained how to add additional configuration to cloudFoundry section. However when executed cfBind command following exception occurred:

`MUCM31654558A:edge ljubisap$ ./gradlew cfBind edge-v1-green rsyslog
FAILURE: Build failed with an exception.
Where:
Script '/Users/d06117

[2016-07-08 18:26] bentarnoff commented on #79
Thanks for bringing this to our attention, @ljubisap. @Dannyzen and @RochesterinNYC, any thoughts on this?

[2016-07-08 18:41] RochesterinNYC commented on #79
This seems like the domain of the java buildpack. @nebhale

[2016-07-08 19:31] ljubisap commented on #79
Thank you for quick response.
I understand the exception, it happens in Java as well, but I do not know where serviceInfos() method suppose to come from. I tried few versions of gradle but that did not change anything. Method is still missing.

[2016-07-13 16:57] bentarnoff commented on #79
@nebhale Do you have any thoughts on the problems experienced by @ljubisap above? Please let us know if there's something you think should be reflected in the documentation for the Java buildpack. Thanks.

[2016-07-18 21:01] bentarnoff commented on #45
Hi @tonycapone, I'm closing this issue because it's been awhile since we've heard from you. When you get a chance, please submit a PR to improve the documentation. Thanks.

[2016-07-18 21:01] #45 closed

[2016-07-26 22:08] afeld opened #83 "Disconnected Environments references are confusing"
I've noticed a reference to the [Disconnected Environments](https://github.com/cloudfoundry/buildpack-packager/blob/master/doc/disconnected_environments.md) documentation from a few of the buildpack pages, saying that "your application must ‘vendor’ its dependencies". I know that the Python, Ruby, and Node buildpacks (did?) install the respective application dependencies as part of the build step,

[2016-07-27 17:54] Dannyzen commented on #83
Hey @afeld Thanks for reaching out.  Disconnected environments are environments which do not have access to the internet.  If dependencies were not vendored in an application then package managers that are configured to use the internet to download packages would not be able to. Thus, it is recommended that applications in disconnected environments vendor their dependencies.

With regards to envir

[2016-07-27 17:54] #83 closed

[2016-07-28 14:14] ljubisap commented on #79
@Dannyzen  @RochesterinNYC @nebhale @bentarnoff any thoughts so far?

[2016-07-28 17:35] nebhale commented on #79
The issue isn't related to the Java Buildpack, as it is part of the build on the client.  There might be an issue with the use of the Gradle plugin, which is documented [here](https://github.com/cloudfoundry/cf-java-client/tree/1.x/cloudfoundry-gradle-plugin).

[2016-08-05 12:05] davidillsley opened #87 "ruby-environment.html.md.erb links to 404ing blog post"
ruby-environment.html.md.erb includes a link to http://blog.cloudfoundry.com/2012/10/02/polishing-cloud-foundrys-ruby-gem-support which is currently 404ing.

The content does appear to have been captured by archive.org at https://web.archive.org/web/20130829153815/http://blog.cloudfoundry.com/2012/10/02/polishing-cloud-foundrys-ruby-gem-support/ but I'm not enough of an expert to know if it's stil

[2016-08-05 15:59] bentarnoff commented on #87
Thanks, @davidillsley! @Dannyzen @RochesterinNYC any sense of what the correct link should be?

[2016-08-05 16:02] RochesterinNYC commented on #87
@bentarnoff I think this might be it? https://blog.pivotal.io/pivotal-cloud-foundry/products/polishing-cloud-foundrys-ruby-gem-support

[2016-08-05 16:03] bentarnoff commented on #87
Great, thanks @RochesterinNYC !

[2016-08-05 16:23] bentarnoff commented on #87
@davidillsley We've fixed the link, and you can view the change on our staging site here: http://docs-cloudfoundry-staging.cfapps.io/buildpacks/ruby/ruby-environment.html. The change should be live on our production site soon. Thanks!

[2016-08-05 16:23] #87 closed

[2016-08-24 09:52] ishwar1987 commented on #76
Hi Dkowis.
what is an updated . I also need to use cloud.service in application.conf. Did you get any solution?
Thanks in advance

[2016-08-24 11:31] ishwar1987 opened #92 "Can you elaborate more regarding auto configuration"
Hi,
I need to use the auto configuration features in my play application . So can you help me how i can do it.
If you can provide detailed documentation regarding this .

Thanks in advanced.

[2016-08-24 13:25] dkowis commented on #76
https://github.com/cloudfoundry/java-buildpack-auto-reconfiguration/pull/58

Only if you use play 2.3 it seems. 2.4 and beyond have made substantial changes to the way play is started up and things don't work any more.

[2016-08-25 00:33] jncd commented on #76
@dkowis and @ishwar1987 Thanks for your comments. Yes, we support running Play Framework applications up to and including 2.4.x. The Play JPA plugin auto-reconfiguration works over that range as well. There were big changes to 2.5 and we haven’t started testing against it. At the very least we know that the auto-reconfiguration does not work, but most likely applications will at least start.
I'll

[2016-08-25 01:24] dkowis commented on #76
From my personal experience, they do start, but you don't get the service variables for configuration. Makes it hard to configure things for the database. :( maybe the pull request I put in will make sure the service var works.

We will have to do something completely different for 2.5 onward because slick doesn't use jpa at all.

On August 24, 2016 7:33:30 PM CDT, Jane Day <notifications@github.c

[2016-08-25 16:58] jncd commented on #76
@dkowis We'll clarify the 2.4.x support only for now in the doc, but going forward, @nebhale is a good person to follow up with about functionality.

[2016-08-25 16:58] #76 closed

[2016-08-25 17:09] jncd commented on #92
hi @ishwar1987

[2016-08-25 20:15] dkowis commented on #76
Yep I've been talking to him. :) I had a pull request that I referenced, but it broke too many things. Need to spend some more time on it.

On August 25, 2016 11:58:47 AM CDT, Jane Day <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-26 10:31] ishwar1987 commented on #92
Hi ,
I have posted auto configuration error in play 2.3 here. https://github.com/cloudfoundry/java-buildpack/issues/322.  Do i miss anything?

Thanks in advanced.

[2016-08-26 18:08] marsinvasion opened #93 "how do you skip-ssl-validation using cloudfoundry gradle plugin?"
Is there an option to skip ssl validation using cloudfoundry gradle plugin?

Using the command line client, we can use the --skip-ssl-validation option

`> I/O error on GET request for :sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target; nested exception is jav

[2016-08-26 18:17] jncd commented on #92
Hi @ishwar1987 Good that you've asked your questions in the java buildpack repo. I'll go ahead and close this docs issue for now. And, of course, you can later make a pull request against the docs if you want to contribute what you learn.

[2016-08-26 18:17] #92 closed

[2016-08-26 19:04] bentarnoff commented on #93
Hey @marsinvasion thanks for this. @sclevine @RochesterinNYC do you have any thoughts on this?

[2016-08-26 19:36] jchesterpivotal commented on #93
This looks like a Java buildpack question to us. @nebhale, what say you?

[2016-08-26 20:55] nebhale commented on #93
According to [the documentation](https://github.com/cloudfoundry/cf-java-client/tree/1.x/cloudfoundry-gradle-plugin#self-signed-ssl-certificates) `trustSelfSignedCerts=true`.

[2016-08-26 21:14] bentarnoff commented on #93
Thanks, @nebhale! Hey @marsinvasion I'm closing this issue for now but please feel free to get in touch if you have any further questions.

[2016-08-26 21:14] #93 closed

[2016-08-26 21:15] marsinvasion commented on #93
Thanks guys

[2016-09-08 00:15] jeffsouthard opened #94 ""Enable or Disable Basic Authentication" doesn't explain environment variable settings"
re: docs-buildpacks/staticfile/index.html.md.erb

The first line of the "Enable or Disable Basic Authentication" section says:

"Protect your website with a user/password configured via environment variables." but does NOT mention any need to set environment variables in the rest of the section.

That should be rephrased. OR, if environment variables must be set, then explain it.

I followed the i

[2016-09-08 18:02] pspinrad commented on #94
@jeffsouthard Hey yeah, that isn't explained-- sorry and thanks for spotting.  Finding out...

[2016-09-08 18:41] pspinrad commented on #94
Turns out there isn't an env var that controls basic auth-- it all depends on the presence / absence of the `Staticfile.auth` file. Correcting in docs now...

[2016-09-08 18:42] #94 closed

[2016-10-10 06:08] mastertinner opened #100 ".NET Core Buildpack"
Are there any plans in the near future to add the [.NET Core buildpack](https://github.com/cloudfoundry-incubator/dotnet-core-buildpack) to the documentation? If so, would you merge a PR regarding this buildpack?

[2016-10-10 15:41] Omnipresent opened #101 "Grails java buildpack doesn't define what service info is"
The page here: http://docs.run.pivotal.io/buildpacks/java/grails-service-bindings.html#auto has the following line

[code]

But it doesn't define what `myapp-mysql` is? Is it name of the service or name of the app.

While following this example I had setup the `mysql` service but the connection info failed with error:

I push the app with command

[code]

Output of  `manifest.yml`, `apps` and `ser

[2016-10-10 18:42] bentarnoff commented on #100
Thanks @mastertinner, we should absolutely document the .NET Core buildpack. I'll bring my colleague @jncd in on this, because she's taking the lead on Buildpacks. In the meantime, please feel free to submit any PRs that you think might be helpful.

[2016-10-10 18:44] sclevine commented on #100
@jncd This buildpack will be an official system buildpack soon. Let me know if you have some time this week to coordinate documenting it.

[2016-10-10 18:48] bentarnoff commented on #101
Thanks for this, @Omnipresent. @sclevine any thoughts on this?

[2016-10-10 22:20] bentarnoff commented on #101
Sorry, I meant to ask @nebhale

[2016-10-10 22:25] Omnipresent commented on #101
FWIW, what worked for me is that string in `cloud?.getServiceInfo('myapp-mysql')` should match the name column for a service when listing services with `cf services`

For example:

[code]
For the above case the code for both would be

[code]

[2016-10-20 17:59] bentarnoff commented on #101
Thanks @nebhale. @Omnipresent, I've added an explanatory note that I hope clarifies the topic for you. You can see the new content at our staging site here: http://docs-cloudfoundry-staging.cfapps.io/buildpacks/java/grails-service-bindings.html#manual. I'm closing this issue for now but please don't hesitate to get in touch with any further feedback.

[2016-10-20 17:59] #101 closed

[2016-10-21 05:43] mastertinner commented on #100
Solved by #102 and #103.

[2016-10-21 05:43] #100 closed

[2017-03-01 21:46] mtthwcmpbll opened #131 "Remove Java build integration page with all tools currently unsupported"
We should remove the documentation page describing Maven and Gradle integration at `/java/build-tool-int.html.md.erb`.  I spoke with @nebhale last week and these have not been migrated to the current `cf-java-client` repo in the move to version 2.x, so there is no official repo or documentation to point folks to for further information on these tools.  We can add a new page to cover future java bu

[2017-03-06 17:58] animatedmax commented on #131
build-tool-int.html.md.erb has been removed
http://docs-cloudfoundry-staging.cfapps.io/buildpacks/java/index.html

[2017-03-06 17:58] #131 closed

[2017-04-05 21:18] randala opened #137 "Where is bp.log?"
According to the doc below, bp.log should be written to app/.bp/logs/
https://docs.cloudfoundry.org/buildpacks/php/gsg-php-usage.html#troubleshooting

I do not even see a logs folder:

vcap@289b9ee6-5e45-4b43-5396-aa673b71f738:~/app/.bp$ pwd
/home/vcap/app/.bp
vcap@289b9ee6-5e45-4b43-5396-aa673b71f738:~/app/.bp$ ls -al
total 16
drwxr-xr-x 4 vcap vcap 4096 Apr  5 21:05 .
drwxr-xr-x 9 vcap root 4096

[2017-04-11 22:32] bentarnoff commented on #137
Hey @randala thanks for this. @sclevine do you have any thoughts on this issue?

[2017-04-18 16:17] dgodd commented on #137
@randala Do you know which buildpack version you are using? Where are you pushing to? Is there anything special about your app? For instance pushing the most simple php app (just an index.php file) to cf using buildpack version v4.3.22, after pushing and ssh-ing in, I can run

[code]

and see that `app/.bp/logs/bp.log` exists.

[2017-04-26 17:59] bentarnoff commented on #137
@randala It's been awhile since we've heard from you, so I'm closing this issue. Please feel free to re-open it or raise another issue if you have further comments or concerns.

[2017-04-26 17:59] #137 closed

[2017-05-26 21:15] yshewchuk opened #145 "Broken links in the BOSH Custom Trusted Certificate Support section of docs-buildpacks/java/index.html.md.erb"
The two links in the text:

Alternatively, you can modify the buildpack by setting the enabled property to true in config/container_certificate_trust_store.yml. For more information, see the Java buildpack repository on GitHub.

Appear to be broken.

[2017-06-07 13:49] Adelamine opened #146 "JpGraph and GD library"
Hello,

I push a PHP application using JpGraph on Bluemix. When I try to go to the URL of my application, i get this error :
"JpGraph Error: 25001 This PHP installation is not configured with the GD library. Please recompile PHP with GD support to run JpGraph. (Neither function imagetypes() nor imagecreatefromstring() does exist)".

I think I have to include GD library in the PHP build-pack. I hav

[2017-06-13 21:08] animatedmax commented on #145
Hi @yshewchuk
Thank you for raising this issue. We've removed these outdated links.

[2017-06-13 21:08] #145 closed

[2017-06-16 06:57] afalak opened #147 "gzip encoding setting in the table"
It should be gzip: off instead of directory: visible

[2017-06-19 21:28] animatedmax commented on #147
Thank you, @afalak, for catching this -- we've updated the page: http://docs.cloudfoundry.org/buildpacks/staticfile/index.html

[2017-06-19 21:28] #147 closed

[2017-06-21 20:17] sclevine opened #148 "Multiple Buildpack Support"
Hi Docs Team,

Support for applying multiple buildpacks to a single application is arriving in CF soon.

I put together a doc that describes the buildpack and app developer changes: https://docs.google.com/a/pivotal.io/document/d/1yA3Ltc3rnW7LPsZovsA3BlLVF36stFgSKlXLLdM3xek/edit?usp=sharing

What's the best way to integrate these changes into the buildpack docs?

Thanks,
Stephen
(Core Buildpacks P

[2017-07-08 20:25] thewoolleyman commented on #148
Here are some suggestions I have after trying to use this based on the info in the doc Stephen attached, which is good, but rather dense and requires some prior context to understand.

In addition to documentation for this, it would be very helpful to have a very simple "barebones" example buildpack(s), that illustrated how the contracts of the `supply` and `finalize` scripts should be implemented

[2017-07-28 22:07] #79 closed

[2017-07-28 22:07] #146 closed

[2017-08-14 17:42] jamsden opened #157 "The sample in java-client.html.md.erb won't build"
The maven dependencies don't match the Java source code. For example, the CloudFoundryClient class isn't defined given those dependencies.

[2017-09-21 23:08] #148 closed

[2017-10-03 20:10] nebhale commented on #157
@jamsden I'm not on the doc team, but dependencies can be found [here](https://github.com/cloudfoundry/cf-java-client#dependencies) and example code can be found [here](https://github.com/cloudfoundry/cf-java-client#usage).

[2017-10-12 19:03] patanijo opened #169 "Vendoring Instructions Using Conda in Addition to Pip"
It would be good to have instructions on how to do "vendoring" of dependencies when using conda as a package manager instead of pip.

I believe the instructions would be similar to the pip instructions
For example
1) Create a virtual environment containing all of your dependencies
[code]

[2017-10-17 23:31] cf-pub-tools commented on #157
Hi @jamsden

This documentation repository is maintained by technical writers, not developers or support engineering.

If you have questions about the open source Cloud Foundry project, we recommend that you contact the cf-dev@lists.cloudfoundry.org mailing list.

For questions about Pivotal Cloud Foundry, please contact Pivotal support: https://support.pivotal.io

Thank you.

[2017-10-17 23:31] #157 closed

[2017-10-19 22:11] ericpromislow opened #172 "https://docs.cloudfoundry.org/buildpacks/ruby/ruby-environment.html : confusion re environment variable name"
[code]

Is the env var named `RACK_ENV` or `RAILS_ENV` ?

[2017-10-20 01:42] jdamato3 commented on #169
Lol @patanijo I was just trying to do this and log an issue...looks like you beat me to it 👍

[2017-11-14 14:08] asrekik opened #174 "The log messages are written in the same line ( no line break after each message)"
Hello
I would like to thank you for this library. It is very helpful.
However, using the component logger, I noticed that all messages are written in the same line and no line break are added to the end of line.

Here is the code
[code]
Here is the result log in the pivotal plateform
[code]
And I would like to have
[code]

[2017-11-14 14:11] #174 closed

[2017-11-14 14:11] asrekik commented on #174
It's a mistake

[2017-11-28 20:11] animatedmax commented on #172
Hi @ericpromislow Both `RACK_ENV` and `RAILS_ENV` environment variables exist, and we have updated the https://docs.cloudfoundry.org/buildpacks/ruby/ruby-environment.html page with the missing information. Thanks!

[2017-11-28 20:11] #172 closed

[2017-11-30 01:44] rajathkodanadaramu opened #179 "building issue"
Hello Team,

I am trying to deploy the simple python app.
But , I am getting the following error.

I need help as to how I can include the dependencies in the below python file.
like nltk.download() environment.yml I am getting not found on pip error.

please help me out.

if I add them in
Traceback (most recent call last):
   2017-11-30T00:47:03.38+0000 [APP/PROC/WEB/0] ERR   File "Application.py

[2017-11-30 01:57] animatedmax commented on #179
Hi @rajathkodanadaramu

This documentation repository is maintained by technical writers, not developers or support engineering. We highly recommend that you open an issue in the python buildpack repository (https://github.com/cloudfoundry/python-buildpack/) or contact the cf-dev@lists.cloudfoundry.org mailing list for assistance.

[2017-11-30 01:57] #179 closed

[2017-12-15 22:55] ianrcooke commented on #169
Is there an undocumented way to do this?  What's listed above doesn't appear to work.

I'm using PCF Dev behind a corporate proxy with ssl interception, so I need either a way to tell conda about the self-signed cert the interceptor uses or, better, a way to vendor my conda environment.  It doesn't appear that there are hooks to modify .condarc for the installing user in the installation environme

[2018-01-24 21:19] denverquane commented on #169
In a similar situation here, hoping there is a way to vendor dependencies using conda. Didn't see any instructions or indications of whether or not this is possible, and my attempts have been unsuccessful. If anyone can shed light on this issue, or provide any direction as to how to vendor dependencies in Conda instead of Pip, that would be greatly appreciated.

[2018-01-24 22:11] patanijo commented on #169
See Ian Huston's [blog post](https://www.ianhuston.net/2018/01/flexible-conda-package-dependencies-on-cloud-foundry/)  I haven't tried this yet, but reading through this the only thing that could be a gotcha is that I would follow the instructions on a Linux machine if you have any dependencies that have non-python components, as dependencies in a conda package for something like numpy would have

[2018-04-16 15:45] dmarmugi opened #193 "Configuring ForceHttps via Staticfile"
Hi,
Currently the docs say to force https on the Staticfile buildpack to:

It appears you can also set it via a Staticfile parameter (from `src/staticfile/finalize/finalize.go`):
[code]

[2018-06-15 20:00] mboldt opened #197 "The "Package Custom Buildpacks" section uses a deprecated repository"
https://docs.cloudfoundry.org/buildpacks/custom.html#packaging-custom-buildpacks

This section links to https://github.com/cloudfoundry/buildpack-packager which has a note at the top:

Would be great if the instructions and link were updated to use the new preferred solution.

[2018-07-09 16:31] skmichaelson opened #202 ""Specify a .NET Framework Version" contains outdated .csproj snippet"
To specify a version of the .NET runtime, you should use a <PropertyGroup> instead of a package reference. See the [Microsoft docs](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj) for more details.

[2018-07-09 16:50] skmichaelson opened #203 "Microsoft is ending .NET Core 2.0 support"
For more details, see this [article on Microsoft's blog](https://blogs.msdn.microsoft.com/dotnet/2018/06/20/net-core-2-0-will-reach-end-of-life-on-september-1-2018/). I'm not sure if any action is necessary, but this may be relevant for the .NET core buildpack docs.

[2018-07-10 14:54] bentarnoff commented on #203
Thanks for bringing this to our attention, @skmichaelson. @sclevine can you speak to whether this will impact the .NET Core Buildpack docs at https://docs.cloudfoundry.org/buildpacks/dotnet-core/? Thanks.

[2018-07-13 08:36] bbodenmiller opened #208 ""Github" should be "GitHub""
I put together a pull request at https://github.com/cloudfoundry/docs-buildpacks/pull/207 but I'm not wasting my time with a CLA that has to be filled out by hand then scanned and emailed - this should be entirely digital.

[2018-07-23 17:20] bentarnoff commented on #202
Looks like this change has been taken care of by https://github.com/cloudfoundry/docs-buildpacks/pull/204, so I'm closing. Thanks.

[2018-07-23 17:20] #202 closed

[2018-08-02 07:05] nykykof opened #210 "buildpack for pure kotlin-based web project"
Hello
I'm working on a pure kotlin-based web project. Everything is fine localy and with my CI pipeline also. The issue comes when i want to push the project on Cloud Foundry: The official java buildpack does not work for the project.
Is there a dedicated buildpack for kotlin projects or some java buildpack version which works with kotlin project ?

[2018-08-03 14:31] nebhale commented on #210
The Java Buildpack will run compiled Kotlin code as long as it meets one of the [container detection criteria](https://github.com/cloudfoundry/java-buildpack#additional-documentation) (typically Java `main()`).  We know this because the Spring team regularly runs this type of application.

If you'd like to run something that we don't yet support (a container-style that Kotlin prefers, maybe from s

[2018-08-06 13:15] bentarnoff commented on #210
@nykykof Closing this issue. Thanks.

[2018-08-06 13:15] #210 closed

[2018-10-04 03:01] adamzerella opened #219 "Incorrect documented filename for buildpacks.yml"
The documentation seen [here](https://docs.cloudfoundry.org/buildpacks/nginx/index.html#nginx) defines a filename of `buildpacks.yml` to be used, the `nginx-buildpack` is expecting the filename `buildpack.yml`.

This causes the specified version in `buildpacks.yml` to be ignored.

[2018-10-04 16:59] animatedmax commented on #219
Thank you, @adamzerella. We're accepting your PR #218 to correct this issue.

[2018-10-04 16:59] #219 closed

[2018-11-14 00:54] TildeWill opened #222 "Documentation references non-existant API call"
https://github.com/cloudfoundry/docs-buildpacks/blob/ecd88f103c9f19fcf835ad4775b47ee2b5493320/java/configuring-service-connections/spring-service-bindings.html.md.erb#L185

`getServiceID` does not exist on the `cloud` instance in version 1.2.3

[2018-11-16 15:37] sclevine commented on #222
@nebhale

[2018-11-17 12:59] nebhale commented on #222
/cc @scottfrederick

[2018-12-06 02:47] zlycYichen opened #227 "Environment configure problem"
My runtime environment error message is "You are using pip version 9.0.1, however version 18.1 is available.You should consider upgrading via the 'pip install --upgrade pip' command." How to configure it ? In runtime.txt or requirements.txt ?

[2018-12-13 16:58] bentarnoff commented on #227
@zlycYichen Thanks for this. @sclevine would you be able to speak to the above?

[2018-12-13 16:58] bentarnoff commented on #222
@scottfrederick Just wanted to bump this. Would you be able to speak to the above? Thanks!

[2018-12-13 17:02] bentarnoff commented on #193
Hey @dmarmugi thanks for this! We've updated the docs accordingly.

[2018-12-13 17:02] #193 closed

[2018-12-13 17:05] tylerphelan commented on #227
@zlycYichen this is a message coming from `pip`, not the python buildpack itself. There's no way to set your pip version so unfortunately the warning is unavoidable for now.

We have an issue in the python buildpack you can follow for this getting fixed: https://github.com/cloudfoundry/python-buildpack/issues/118

[2019-01-02 16:01] sclevine commented on #203
We have a single version of the .NET Core 2.0 SDK still included in the buildpack. We plan to deprecate it soon.

[2019-02-05 17:13] Zanadar opened #229 "Document `INSTALL_NODE=true` for server-side rendering in Dotnet with react"
Many devs want to push server-side rendered apps (react or angular usually) in dotnet. We should document this use case and note that they will have to specify `INSTALL_NODE=true` in their manifest to have node available in their app droplet.

https://github.com/cloudfoundry/docs-buildpacks/blob/84ebf376dc228fc5b489ae534c8425d0a9af7f90/dotnet-core/index.html.md.erb

[2019-02-12 20:39] djoyahoy commented on #229
Issue was addressed in PR 231:
https://github.com/cloudfoundry/docs-buildpacks/pull/231

[2019-02-12 20:39] #229 closed

[2019-02-20 01:03] aglwallac opened #232 "Sentence is confusing"
within: docs-buildpacks/node/index.html.md.erb
at line 105:

  doesn't make any sense?

[2019-02-20 01:10] aglwallac opened #233 "Confusing"
in within: docs-buildpacks/node/index.html.md.erb
Lines 120-124?

about npm lockfiles, see [npm-package-locks](https://docs.npmjs.com/files/package-locks) in the NPM
documentation. For information about the NPM lock file, see
[package-lock.json](https://docs.npmjs.com/files/package-lock.json) in the NPM
documentation.

Unsure of double reference to npm lock files.  Maybe clarity in this sentence i

[2019-03-25 21:53] kdolor-pivotal commented on #203
@skmichaelson Based on https://github.com/cloudfoundry/dotnet-core-buildpack/releases, it looks like dotnet core 2.0 was removed from the dotnet-core-buildpack in 2.2.8.

Thanks for your feedback!

[2019-03-25 21:53] #203 closed

[2019-04-05 19:01] Zanadar commented on #227
Closing in favor of https://github.com/cloudfoundry/python-buildpack/issues/118

[2019-04-05 19:01] #227 closed

[2019-04-10 22:52] #222 closed

[2019-05-06 20:56] vikafed commented on #232
Hi @aglwallac. We reached out to the Buildpacks team, and they confirmed that this sentence is technically accurate. `npm install` generates a `node_modules directory` of vendored modules. Thanks!

[2019-05-06 21:00] #232 closed

[2019-05-07 15:09] #208 closed

[2019-05-28 22:02] #197 closed

[2019-11-11 20:45] dmarmugi opened #253 "Staticfile Buildpack HSTS settings do not inherit"
The Staticfile buildpack config-options include notes like

I'm not sure whether this is an issue with the docs or with the buildpack,

but they're not true.

For instance, this Staticfile doesn't include the `include_subdomains` toggle, and as a result it's missing from the returned header
[code]

This is behavior is borne out in the [code for the buildpack](https://github.com/cloudfoundry/static

[2019-11-13 00:02] mlimonczenko commented on #253
Thank you, @dmarmugi! PR is preferred. Feel free to close this out and let me know when you've PRed.

[2019-11-19 22:30] dmarmugi commented on #253
hi @mlimonczenko -- Sorry if I wasn't clear. I meant we can correct the documentation to align with the current behavior, or submit a PR to the buildpack to align the behavior with the current documentation, at your discretion.
Thanks,
-david

[2019-11-19 22:37] mlimonczenko commented on #253
I see. Thank you for the clarity.

[2020-01-10 15:38] jfsc opened #256 "System Buildpacks link is broken"
in within line 32 , where  "... (system-buildpacks.html" it should be "... (system-buildpacks.html)"

[2020-01-16 17:40] javaHelper opened #258 "https://stackoverflow.com/questions/59774751/spring-cloud-foundry-issue-223"
Could you please guide https://stackoverflow.com/questions/59774751/spring-cloud-foundry-issue-223 ?

[2020-01-16 18:07] javaHelper commented on #258
If you can quickly help us to fixed the issue, it will be great, we are really stuck with it. Kindly suggest what to use in manifest.yml file.

[2020-01-16 21:48] austinlele opened #259 "BINARY DEPENDENCIES misled me"
In Vendoring dependencies, the --no-binary :all: option is the OPPOSITE of what you want to do.

[2020-01-28 19:27] cshollingsworth commented on #259
I've corrected the flag from `--no-binary :all:` to `--no-binary :none:`. The change should show up on the site soon. Thanks, @austinlele !

[2020-01-28 19:27] #259 closed

[2020-02-06 00:38] animatedmax commented on #256
Hi @jfsc We have corrected the error and fixed the link. Thank you for pointing out this issue.

[2020-02-06 00:38] #256 closed

[2020-03-02 22:26] paigecalvert commented on #258
Hi @javaHelper, sorry for the delay. Is this still something that we can help with? Can you elaborate on the issue you are having?

[2020-03-03 14:18] javaHelper commented on #258
Its tooooo late to reply on this post.

I was getting error like below -

[code]

[2020-03-06 00:44] paigecalvert commented on #258
I'm glad that you found a solution. For future issues, you can try reaching out to one of the CF mailing lists: https://lists.cloudfoundry.org/g/announce (This GitHub issue notifies the documentation team, and we are not always to most equip to answer these types of questions)

[2020-03-06 00:44] #258 closed

[2020-08-19 20:02] dweekly opened #272 "Request: Add Perl System Buildpack"
Perl remains a very popular programming language for backends and Mojolicious is a modern Perl web framework and would be a reasonable selection for a Perl Buildpack. It would be great to have out-of-the-box support for Perl from Cloud Foundry.

[2020-09-03 21:21] erabil commented on #272
Closing issue.

[2020-09-03 21:21] #272 closed

[2021-04-28 19:40] mjgutermuth commented on #233
Hi! It looks like this issue was addressed here: https://github.com/cloudfoundry/docs-buildpacks/commit/f566735726f02cb44f21b435c3b7e4ed03f21ccd

Thank you!

[2021-04-28 19:40] #233 closed

[2021-07-02 22:49] mlimonczenko commented on #253
Hello @dmarmugi,

We were unable to prioritize this request at the time the issue was filed.

If this issue is still relevant, submit a new pull request (preferred) or a new GitHub issue.

I am closing this request. Thank you so much for your contribution.

[2021-07-02 22:49] #253 closed

[2021-09-22 15:19] robdimsdale commented on #169
Hi folks. Sorry for the delay.

As this issue is fairly old and the docs have been updated a lot since then, I'd like to start by asking if any of you still find this an issue? Are there documentation changes you'd still like to see?

[2021-10-15 04:03] viju2008 opened #283 "Example of routing to instances of microservices"
Dear Sir,

The documentation doesent have an example of how to do routing between microservices with nginx buildpack.

How to do url based routing in nginx. We are giving the routes binded to an app in the upstream . However it is resolving to an ip and due to which go router is unable to forward the request to the appropriate IP

Request you to please create appropriate examples so that it benefi

[2021-10-20 17:29] menehune23 opened #284 "Document `BP_PIP_VERSION` for python buildpack"
Now that cloudfoundry/python-buildpack#395 is merged, we should document its usage

[2021-11-05 20:32] #284 closed

[2022-01-22 02:36] ctlong opened #286 "Some links are out of date in the Go section"
This link and some of the other go-buildpack links don't work anymore.

https://github.com/cloudfoundry/docs-buildpacks/blob/f368671338fc7407642164e34d60b09a91c04807/go/index.html.md.erb#L54

[2022-02-01 20:41] mjgutermuth commented on #286
Thanks for pointing this out, @ctlong! I wasn't able to find another sample Go app to use in its place, so I've just removed the bad links for now. If you happen to know of another app we could link to instead, please let me know and I can add it in.

[2022-02-01 20:41] #286 closed

[2022-02-01 20:46] ctlong commented on #286
@mjgutermuth there are Go apps listed under https://github.com/cloudfoundry/go-buildpack/tree/master/fixtures that could conceivably replace the previous samples.

[2022-02-01 20:47] mjgutermuth commented on #286
Thank you!

[2022-02-16 17:21] tadufre commented on #169
as far as I can tell, the docs still do not explain how to vendor using conda.

[2022-07-27 12:37] vanschelven opened #291 "Python vendoring: note pitfalls"
Vendoring python dependencies is not trivial, and this should at least be reflected in [the documentation](https://github.com/cloudfoundry/docs-buildpacks/blob/f20af76a6bcf75f70ae2019e2f8f0b82bf66ff82/python/index.html.md.erb#L97), preferably while presenting a solution that "mostly works".

The problem is that python packages may contain arbitrary build steps (compilation), and that:

1. compilat

[2022-11-02 10:54] EchoSierra opened #296 "node.js vendoring doesn't work with node version >= 16"
The described behaviour with "Vendoring App Dependencies" works with node versions <= 14.
https://docs.cloudfoundry.org/buildpacks/node/index.html#vendoring

With higher node versions (at least I tested it with node v16.20.0 and v18.9.0) the vendoring is no longer working. An `npm install` always reinstalls all packages, or at least it tries to do it. There are issues with dependencies in private

[2022-11-18 08:49] EchoSierra commented on #296
I recognized it might be cause by something else. I will double check and reopen the ticket in case it's caused by the buildpack.

[2022-11-18 08:49] #296 closed